h1 {
	text-align: center;
}
h3 {
	text-align: center;
}

h2 {
	text-align: center;
}

.content {
	margin-left: 10px;
}

.lookup {
	margin-left: 10px;
}

body {
	background-image: url("stonks.png");
}

.buy {
	margin-left: 10px;
}

.sell {
	margin-left: 10px;
}

.view {
	margin-left: 10px;
}